:root {
  --accent-color: crimson;
}

@font-face {
    src: url('fonts/WarblerText-Regular.woff2') format("woff2"),
         url('fonts/WarblerText-Regular.woff') format("woff");
    font-family: 'Warbler Text';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('fonts/WarblerText-Italic.woff2') format("woff2"),
         url('fonts/WarblerText-Italic.woff') format("woff");
    font-family: 'Warbler Text';
    font-style: italic;
    font-weight: 400;
}

::selection {
  background-color: var(--accent-color);
  color: white;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  font-weight: 400;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Warbler Text';
  background-color: #eee;
}

p {
  font-size: 40px;
}

.cntr {
  text-align: center;
}

.smcp {
  font-feature-settings: "smcp";
}

.lowr {
  text-transform: lowercase;
}

.capt {
  text-transform: capitalize;
}